%header.navbar
  %h2
    %ul.links
      %li
        = link_to "Home", root_path
      %li
        = link_to "Contact", contact_path
    %ul.auth
      %li
        = link_to "Login", root_path
      %li
        = link_to "Signup", root_path
